{{ if .Values.includeAuthCRDs }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: apiauthentications.auth.qdrant.io
spec:
  group: auth.qdrant.io
  names:
    kind: APIAuthentication
    listKind: APIAuthenticationList
    plural: apiauthentications
    singular: apiauthentication
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIAuthentication is a configuration for authenticating against
          Qdrant clusters.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIAuthenticationSpec describes the configuration for authenticating
              against Qdrant clusters.
            properties:
              clusterIDs:
                description: List of cluster IDs for which the API key is valid
                items:
                  type: string
                type: array
                x-kubernetes-list-type: set
              sha512:
                description: SHA512 hash of an API key.
                maxLength: 128
                minLength: 128
                type: string
            required:
            - clusterIDs
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
{{ end }}
