name: PR Workflow
on:
  pull_request:
    types: [ synchronize, opened, reopened]
    branches: [ 'main' ]

permissions:
  contents: read

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    timeout-minutes: 10 # Sets a timeout of 10 minutes for this job (default is 1 minute)
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25'
          cache: false

      - name: Helm lint (CRDs)
        run: |
          helm lint charts/qdrant-kubernetes-api
          helm lint charts/qdrant-kubernetes-api --set includeManagementCRDs=true
          helm lint charts/qdrant-kubernetes-api --set includeAuthCRDs=true
          helm lint charts/qdrant-kubernetes-api --set includeRoutingCRDs=true
          helm lint charts/qdrant-kubernetes-api --set includeManagementCRDs=true --set includeAuthCRDs=true --set includeRoutingCRDs=true

      - name: Run kubeconform
        shell: bash
        run: |
          go install github.com/yannh/kubeconform/cmd/kubeconform@v0.7.0
          helm template charts/qdrant-kubernetes-api | kubeconform --summary -output pretty -schema-location default -schema-location "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/{{.NormalizedKubernetesVersion}}/{{.ResourceKind}}.json"

      - name: Check Go Formatting
        run: |
          files=$(gofmt -l .) && echo $files && [ -z "$files" ]

      - name: Golang CI Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1 # Specify the golangci-lint version, so we are stable

      - name: Run make gen
        run: |
          make gen

      - name: Ensure that make gen did not result in changes
        uses: CatChen/check-git-status-action@v1
        with:
          fail-if-not-clean: true

      - name: Tests
        run: |
          make test
